html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 24px; color:#aa0f54;
  width: 25em;
  margin: 0 auto;
  padding: 0.5em 0;

  height: 100vh;

  font-family: palatino;
  background-color:yellow;
  text-align: center;
}

ul { 
  list-style-type: none;
}

button { 
  background-color: black;
  font-size: 24px; color:white;
  font-family: palatino;

 
}



.img-circle {
  border-radius: 50%;
}
